{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1>Create new Episode</h1>

    {{ include('episode/_form.html.twig') }}

    <a href="{{ path('episode_show_by_season', {'program' : season.program.slug, 'number': season.number}) }}">back to list</a>
{% endblock %}
