{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1 class="mt-0">{{ actor.name }}</h1>
    <ul>
        {% for program in actor.programs %}
            <li>
                <a href={{ path('wild_show_by_program', {'slug': program.slug}) }}>{{ program.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}